body{
    font-family: 'Lato', sans-serif;
    direction: ltr;
    color: #363636;
    overflow-x: hidden;
}
.navbar.bg-light{
    background:rgba(0,0,0,0) !important;
}
.navbar.scrollNav{
    background:rgba(0,0,0,0.4) !important;
    transition-duration: 0.4s;
}
.navbar-light .navbar-nav .nav-link{
    color:white;
    font-size: 18px;
    cursor: pointer;
    padding-right:30px;
    padding-left: 30px;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.navActive{
    color:white;
    text-decoration: underline;
}
.mainSection{
    color: white;
    width: 100%;
    height: 980px;
    position: relative;
    
}
.mainSection h1{
    font-size: 72px;
    font-weight: bold;
}
.mainSection span{
    display: block;
    font-size: 18px;
}
.mainSection a.btn-primary{
    background: white;
    border: 1px solid white;
    border-radius: 50px;
    padding: 15px 55px;
    color: #e42837;
    font-size: 18px;
    margin-top: 100px;
}
.mainSection a.btn-primary:hover{
    background: transparent;
    color: white;
}
.mainSection .container,
.mainSection .row{
    height: 100%;
}
.absoluteBg{
    width: 100%;
    height: 980px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(to bottom , #d90646 , #eb3f2d);
    -webkit-clip-path: polygon( 100% 0, 100% 75%, 0 90%, 0 0%);
    clip-path: polygon(100% 0, 100% 75%, 0 90%, 0 0%);
}
.section h2{
    font-size: 60px;
    font-weight: bold;
}
.featuresDesc h2 .red{
    color: #e01c3d;
}
.featuresDesc p{
    font-size: 18px;
    color: #808080;
}
/*--- Start ServiceSection ---*/
.serviceSection{
    position: relative;
    height: 690px;
}

.serviceSection  .absoluteBg{
    width: 100%;
    max-height: 690px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(to bottom , #d90646 , #eb3f2d);
    -webkit-clip-path: polygon( 100% 12.5%, 100% 87.5%, 0 87.5%, 0 12.5%);
    clip-path: polygon( 100% 12.5%, 100% 87.5%, 0 87.5%, 0 12.5%);
}
/*
.serviceSection .imgBox{
    text-align: center;
}
*/
.serviceSection .imgBox img{
    max-height: 690px;
}
/*
.serviceSection .imgBox a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    color: #fff;
    font-size: 52px;
}
*/

/* --Star videoSection--*/
.c-video{
    position: absolute;
    width: 100%;
    max-width: 294px;
    min-height: 520px;
    max-height: 520px;
    top: 84px;
    left: 73px;
    overflow: hidden;
}
.c-video:hover .controls{
    transform: translateY(0);
    transition: 0.4s;
}
.c-video .video{
    width: 100%;
    min-height: 520px;
}
.controls{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.7);
    transform: translateY(100%) translateY(-5%);
    transition: all 0.4s;
}
.c-video .overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 294px;
    height: 520px;
    transition: 0.4s;
}
/*
.c-video .removOverlay{
    background-color: rgba(0, 0, 0, 0.0);
    transition: 4s;
}
*/
.buttons{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttons button{
    padding: 0;
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.buttons button:before{
    content: '\f144';
    font-family: 'Font Awesome 5 Free';
    font-size: 72px;
    color: #30a5f9;
    font-weight: bolder;
    transition: 0.4s; 
}
.buttons button:hover:before{
    font-size: 100px;
    transition: 0.4s;
}

.buttons button.play:before{
    content: '\f144';
}
.buttons button.pause:before{
    content: '\f28b';
}
.progress-bar{
    width: 100%;
    height: 10px;
    top: 0;
    left: 0;
    background-color: #aaa;
}
.progress{
    height: 10px;
    background-color: dodgerblue;
}
/* -- End videoSection   --*/

.serviceSection .descBox .desc {
    padding: 25px;
}
/*
.serviceSection .descBoxRight .desc{
    padding: 20px;
}
*/
.serviceSection .descBoxRight{
    margin-left: 15px;
}
.serviceSection .descBoxRight .desc{
    padding-left: 40px;
}
.serviceSection .descBox .desc h3{
    font-size: 24px;
    color: #fff;
}
.serviceSection .descBox .desc p{
    font-size: 16px;
    color: #f6c0bf;
}
.serviceSection .descBox .icon{
    font-size: 50px;
    font-weight: 100;
    color: #fff;
}
/* -- End ServiceSection ---*/


/*Media queries*/
@media (min-width: 1200px){
    .container {
        max-width: 1200px;
    }
}
@media (max-width :992px){
    .featuresImg{
        text-align: center;
    }
    .mainSection h1{
        font-size: 50px;
    }
    .featuresDesc{
        text-align: center;
    }
    .c-video{
        position: absolute;
        width: 100%;
        max-width: 294px;
        min-height: 520px;
        max-height: 520px;
        top: 83px;
        left: 203px;
        overflow: hidden;
    }
    .serviceSection{
        position: relative;
        padding-top: 50px;
        padding-bottom: 50px;
        height: auto;
        background: linear-gradient(to bottom , #d90646 , #eb3f2d);
    }
    .absoluteBg{
        display: none;
    }
    .serviceSection .descBox{
        margin-top: 50px;
    }
    .serviceSection .descBox .desc p{
    }
    .serviceSection .descBox .desc {
        padding: 20px 15px;
    }
    .serviceSection .descBoxRight .desc{
        padding: 20px 0px;
    }
    .serviceSection .descBoxRight{
        margin-left: 15px;
    }
    .serviceSection .descBoxRight .icon{
        text-align: center;
    }
/*
    .serviceSection .absoluteBg{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background: linear-gradient(to bottom , #d90646 , #eb3f2d);
    -webkit-clip-path: polygon( 100% 12.5%, 100% 87.5%, 0 87.5%, 0 12.5%);
    clip-path: polygon( 100% 12.5%, 100% 87.5%, 0 87.5%, 0 12.5%);
    }
*/
}
