body{
    font-family: 'Lato', sans-serif;
    direction: ltr;
    color: #363636;
    overflow-x: hidden;
}
.navbar.bg-light{
    background:rgba(0,0,0,0) !important;
}
.navbar.scrollNav{
    background:rgba(0,0,0,0.4) !important;
    transition-duration: 0.4s;
}
.navbar-light .navbar-nav .nav-link{
    color:white;
    font-size: 18px;
    cursor: pointer;
    padding-right:30px;
    padding-left: 30px;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.navActive{
    color:white;
    text-decoration: underline;
}
.mainSection{
    color: white;
    width: 100%;
    height: 980px;
    position: relative;
    
}
.mainSection h1{
    font-size: 72px;
    font-weight: bold;
}
.mainSection span{
    display: block;
    font-size: 18px;
}
.mainSection a.btn-primary{
    background: white;
    border: 1px solid white;
    border-radius: 50px;
    padding: 15px 55px;
    color: #e42837;
    font-size: 18px;
    margin-top: 100px;
}
.mainSection a.btn-primary:hover{
    background: transparent;
    color: white;
}
.mainSection .container,
.mainSection .row{
    height: 100%;
}
.absoluteBg{
    width: 100%;
    height: 980px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(to bottom , #d90646 , #eb3f2d);
    -webkit-clip-path: polygon( 100% 0, 100% 75%, 0 90%, 0 0%);
    clip-path: polygon(100% 0, 100% 75%, 0 90%, 0 0%);
}
.section h2{
    font-size: 60px;
    font-weight: bold;
}
.featuresDesc h2 .red{
    color: #e01c3d;
}
.featuresDesc p{
    font-size: 18px;
    color: #808080;
}

.serviceSection{
    position: relative;
    height: 690px;
}

.serviceSection .absoluteBg{
    width: 100%;
    max-height: 690px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(to bottom , #d90646 , #eb3f2d);
    -webkit-clip-path: polygon( 100% 12.5%, 100% 87.5%, 0 87.5%, 0 12.5%);
    clip-path: polygon( 100% 12.5%, 100% 87.5%, 0 87.5%, 0 12.5%);
}
.serviceSection .imgBox{
    position: relative;
}

.serviceSection .imgBox .overlay{
    position: absolute;
    top: 85px;
    left: 73px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 294px;
    height: 520px;
}
.serviceSection .imgBox img{
    max-height: 690px;
}
.serviceSection .imgBox a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    color: #fff;
    font-size: 52px;
}
/*Media queries*/
@media (min-width: 1200px){
    .container {
        max-width: 1200px;
    }
}
@media (max-width :992px){
    .featuresImg{
        text-align: center;
    }
    .mainSection h1{
        font-size: 50px;
    }
    .featuresDesc{
        text-align: center;
    }
}
